notes
src/assets
src/lib/
src/fonts
src/data/2019
src/data/natural_earth*
ressources/countries/*.zip
ressources/data
ressources/Photos/WHC_website_raw_xls_exports
ressources/Photos/archive
ressources/Photos/*.odt
ressources/Photos/*.json
ressources/Photos/*.csv
ressources/WHSites/archives
ressources/WHSites/*.gpkg
ressources/WHSites/whc_xml_parser_1.py
ressources/WHSites/whc_xml_parser_2.py
ressources/photos.zip
ressources/*.mbtiles
ressources/*.zip
infos.md
